<p>
<%= @carrier_recruitment.full_name %>,
</p>
<p>
We have received your submission.
</p>
<p>
Someone will be in touch with you shortly regarding your interest in delivering
<em><%= @carrier_recruitment.paper_to_deliver %></em>.
</p>
<p>
Gannett Newspapers
</p>

<strong>DO NOT REPLY TO THIS EMAIL</strong>

